<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0,viewport-fit=cover">
    <title>详情页</title>
    <link rel="stylesheet" href="__STATIC__/css/weui.css"/>
    <link rel="stylesheet" href="__STATIC__/css/example.css"/>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>

    <![endif]-->
    <style type="text/css">
        .content{
            display: flex;
            flex-direction: column;

        }
        .view-img{
            display: flex;
            flex-direction: column;
            align-content: center;
            align-items: center;
        }
        .goods-img{
            height: 240px;
        }
        .jd-info{
            display: flex;
            flex-direction: column;
            margin: 10px;
        }
        .jd-title{
            color: #0D0D0D;
            font-size: 12px;
        }
        .jd-price{
            font-size: 10px;
            color: gray;
            text-decoration:line-through;
        }
        .jd-sell-price {
            color: red;
            font-size: 10px;
        }
        .jd-commission {
            color: red;
            font-size: 10px;
        }


    </style>
</head>
<body ontouchstart>
<div class="container" id="container">
    <div class="content">
        <div class="view-img">
            <img src="{$goods->imgUrl}" class="goods-img">
        </div>

        <div class="jd-info">
            <div class="jd-title">{$goods->goodsName}</div>
            <div class="jd-bottom">
                <div class="jd-price">京东价：¥{$goods->unitPrice}</div>
                <div class="jd-sell-price">内购价：¥{$goods->wlUnitPrice}</div>
                <div class="jd-commission">佣金：20%</div>

            </div>
        </div>
        <div class="page__bd page__bd_spacing">
        <a href="javascript:void(0);" id="push-goods" goods-id="{$goods->skuId}" class="weui-btn weui-btn_primary">一键推广</a>
        </div>
    </div>
</div>
<!--BEGIN toast-->
<div id="toast" style="display: none;">
    <div class="weui-mask_transparent"></div>
    <div class="weui-toast">
        <i class="weui-icon-success-no-circle weui-icon_toast"></i>
        <p class="weui-toast__content">已完成</p>
    </div>
</div>
<!--end toast-->
<!-- loading toast -->
<div id="loadingToast" style="display:none;">
    <div class="weui-mask_transparent"></div>
    <div class="weui-toast">
        <i class="weui-loading weui-icon_toast"></i>
        <p class="weui-toast__content">数据推送中</p>
    </div>
</div>

<script src="__STATIC__/js/zepto.min.js"></script>
<script src="https://res.wx.qq.com/open/libs/weuijs/1.0.0/weui.min.js"></script>
<script src="http://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
<script type="text/javascript">
    $(function () {
        setJSAPI();
        var $loadingToast = $('#loadingToast');
        var $toast = $('#toast');
        function showLoading(){
            if ($loadingToast.css('display') != 'none') return;

            $loadingToast.fadeIn(100);
        }
        function hideLoading(){
            setTimeout(function () {
                $loadingToast.fadeOut(100);
            }, 500);
        }
        function showToast(){
            if ($toast.css('display') != 'none') return;

            $toast.fadeIn(100);
            setTimeout(function () {
                $toast.fadeOut(100);
            }, 2000);
        }


        $('#push-goods').on('click', function(){
            var val=$(this).attr("goods-id");
            console.log("button click:"+val);
            showLoading();
            $.ajax({
                type: "GET",
                url: "http://wx.microcodor.com/index/index/push",
                data: {id:val},
                dataType: "json",
                success: function(data){
                    console.log(data);
                    hideLoading();
                    if (data.result){
                        showToast();
                    }
                },
                error: function () {
                    hideLoading();

                }
            });

            //e.preventDefault();
        })

        function setJSAPI(){
            var url =location.href.split('#')[0];
            console.log("url:"+url);
            //$.getJSON('auth/index?&url=' + encodeURIComponent(location.href.split('#')[0]), function (res) {
            //http://localhost/jdwechatapp/public/auth/index
            $.getJSON('http://wx.microcodor.com/auth/index',{"url": url}, function (res) {
                console.log(res);
                wx.config({
                    beta: true,
                    debug: true,
                    appId: res.appId,
                    timestamp: res.timestamp,
                    nonceStr: res.nonceStr,
                    signature: res.signature,
                    jsApiList: [
                        'onMenuShareTimeline',
                        'onMenuShareAppMessage'
                    ]
                });
                wx.ready(function () {
                    if (url.indexOf('detail')>=0) {
                        var title = $('.jd-title').text();
                        var id = $('#push-goods').attr('goods-id');
                        var imgUrl = $('.goods-img')[0].src;
                        console.log('title:'+title);
                        console.log('id:'+id);
                        console.log('imgUrl:'+imgUrl);
                        pushshare(id, title, imgUrl);
                    }

                });
                wx.error(function () {
                    console.log('config error');
                });
            });
        }

        function pushshare(id,title,imgUrl) {
            var option = {
                imgUrl: imgUrl, // 分享图标
                //type: '', // 分享类型,music、video或link，不填默认为link
                //dataUrl: '', // 如果type是music或video，则要提供数据链接，默认为空
                title: title,
                desc: title,
                link: "http://wx.microcodor.com/index/index/authDetail?id="+id,
                success: function () {
                    console.log('分享成功');
                },
                cancel: function () {
                    console.log('分享失败');
                }
            };
            wx.onMenuShareAppMessage(option);
            wx.onMenuShareTimeline(option);
            console.log("share-friend1")
        }
    })
</script>
</body>
</html>
